.button {
  border: 2px solid var(--border-color);
  padding: var(--btn-padding);
  text-transform: var(--btn-text-transform);
  background-color: var(--btn-background-color);
  font-size: 2rem;
  color: rgb(184, 184, 184);

  &.active {
    border: var(--btn-border);
    color: var(--color-primary);
  }
}
