@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

body {
  background-color: rgb(63, 61, 61);
  color: azure;
}

.app {
  font-family: "Share Tech Mono", monospace;
}
